VITE_VITE_API_URL=https://ornaq-backend-j3eg.onrender.com/api
VITE_SOCKET_URL=https://ornaq-backend-j3eg.onrender.com
VITE_RAZORPAY_KEY_ID=rzp_test_xxxxx
VITE_GOOGLE_CLIENT_ID=439706206780-0qrcigjvqi5a7utojeiho16edrbh62m4.apps.googleusercontent.com
