VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
VITE_RAZORPAY_KEY_ID=rzp_test_xxxxx
VITE_GOOGLE_CLIENT_ID=439706206780-0qrcigjvqi5a7utojeiho16edrbh62m4.apps.googleusercontent.com
